<%- include('partials/adminheader.ejs') %> 

<div class="container-scroller">
  <%- include('partials/siderbar1.ejs') %> 
  <div class="container-fluid page-body-wrapper">
  <%- include('partials/siber2.ejs') %> 

<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">Form elements</h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Form elements
            </li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Default form</h4>
              <p class="card-description">Basic form layout</p>
              <form class="forms-sample"  action="/admin/productEdit/<%= product._id %>" method="post"> 
                <div class="row">
                 
                  </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">PRICE</label>
                  <input class="form-control" type="search" id="priceid" name="price" onkeyup="nullPrice()" onkeypress="return onlyNumberKey(event)" value="<%= product.price%>" />
                  <p class="text-danger" id="errorprice"></p>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">QUANTITY</label>
                  <input class="form-control" type="search" id="quantityid" name="quantity" onkeyup="nullQuantity()" value="<%= product.quantity%>" onkeypress="return onlyNumberKey(event)" />
                  <p class="text-danger" id="errorquantity"></p>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">description</label>
                  <input class="form-control" type="search" id="descriptionid" name="description" onkeyup="nullDescription()" value="<%= product.description%>" onkeypress="return onlyNumberKey(event)" />
                  <p class="text-danger" id="errorquantity"></p>
                </div>
                
             
             
                <div
                  class="form-check form-check-flat form-check-primary"
                >
                  
                  </label>
                </div>
                <button type="submit" class="btn btn-primary mr-2">
                  Submit
                </button>
                <button class="btn btn-dark">Cancel</button>
              </form>
            </div>
          </div>
        </div>
        <script>
          const pName = document.getElementById("pnameid").value;
    const price = document.getElementById("priceid").value;
    const description = document.getElementById("descriptionid").value;
    const quantity = document.getElementById("quantityid").value;
        </script>